
*.m~

xpcPlugin/xpcPlugin.xcodeproj/project.xcworkspace/xcuserdata/cteubert.xcuserdatad/UserInterfaceState.xcuserstate

xpcPlugin/xpcPlugin.xcodeproj/project.xcworkspace/xcshareddata/xpcPlugin.xccheckout

xpcPlugin/build/xpcPlugin.build/Debug/xpcPlugin.build/xpcPlugin.hmap

xpcPlugin/xpcPlugin.xcodeproj/project.xcworkspace/xcshareddata/xpcPlugin.xccheckout

Docs/~$Capability Matrix.xlsx

*.xcuserstate

*.o

TestScripts/C Tests.xcodeproj/project.xcworkspace/xcuserdata/cteubert.xcuserdatad/UserInterfaceState.xcuserstate

*.xcuserstate

TestScripts/Cpp Tests.xcodeproj/project.xcworkspace/xcuserdata/cteubert.xcuserdatad/UserInterfaceState.xcuserstate

xpcPlugin/build/xpcPlugin.build/Debug/xpcPlugin.build/Objects-normal/x86_64/XPCPlugin.o

xpcPlugin/build/xpcPlugin.build/Debug/xpcPlugin.build/Objects-normal/x86_64/xplaneConnect.o

xpcPlugin/xpcPlugin.xcodeproj/project.xcworkspace/xcuserdata/cteubert.xcuserdatad/UserInterfaceState.xcuserstate

TestScripts/C Tests.xcodeproj/project.xcworkspace/xcuserdata/cteubert.xcuserdatad/UserInterfaceState.xcuserstate

TestScripts/C Tests.xcodeproj/xcuserdata/cteubert.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist

TestScripts/Cpp Tests.xcodeproj/project.xcworkspace/xcuserdata/cteubert.xcuserdatad/UserInterfaceState.xcuserstate

xpcPlugin/build/xpcPlugin.build/Debug/xpcPlugin.build/Objects-normal/x86_64/XPCPlugin.o

xpcPlugin/build/xpcPlugin.build/Debug/xpcPlugin.build/Objects-normal/x86_64/xplaneConnect.o

xpcPlugin/xpcPlugin.xcodeproj/project.xcworkspace/xcuserdata/cteubert.xcuserdatad/UserInterfaceState.xcuserstate

build/
xpcPlugin/Win/xpcPlugin.exp
xpcPlugin/Win/xpcPlugin.ilk
xpcPlugin/Win/xpcPlugin.lib
xpcPlugin/Win/xpcPlugin.pdb
xpcPlugin/Win/xpcPlugin32.exp
xpcPlugin/Win/xpcPlugin32.ilk
xpcPlugin/Win/xpcPlugin32.lib
*.pdb
*.ilk
xpcPlugin/Win/xpcPlugin64.lib
xpcPlugin/Win/xpcPlugin64.exp
xpcPlugin/xpcPlugin/xpcPlugin/Debug/xplaneConnect.obj
xpcPlugin/xpcPlugin/xpcPlugin/Debug/xpcPluginTools.obj

*.sdf
*.opensdf
*.suo
xpcPlugin/xpcPlugin/xpcPlugin/Debug
xpcPlugin/xpcPlugin/xpcPlugin/x64/Debug
TestScripts/C Tests.win/Debug
TestScripts/C Tests.win/x64/Debug

*.o
